.container{
  height: 100rem;
  width: 100rem;
}
.details{
  border: black 2px solid;
  width: 25%;
  margin: auto;
}
.img{
  width: 85%;
  height: 18rem;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-top: 25px;
  border-radius: 15%;
}
.data{
  padding-left: 7.5%;
}
p{
  font-size: bold;
  color: grey;
}